<div class="history-container py-3">
  <div class="row mb-4 align-items-center">
    <div class="col col-sm-8">
      <h2 class="m-0 fs-4 fw-bold text-secondary">Extra Dirrty Rooms</h2>
    </div>
    <div class="col-auto text-end mt-1" >
            <button 
                mat-raised-button 
                color="primary" 
                class="py-2 px-4 fs-6 rounded-1" 
                (click)="routeToExtraDirtyRoom()">
                ➕ Add  Extra Dirty Room
            </button>
        </div>
  </div>

  <div class="mb-4">
    
  </div>

  <!-- 🛠️ Fixed Header Layout using structural columns -->
  <div class="row align-items-center mb-4 g-3">
    <!-- Left Column: Dynamic Header Title -->
   
  <!-- Cards Grid Layout -->
  
</div>