<div class="history-container py-3">
  
  <div class="mb-4">
    <app-requests-search (filtersChanged)="onFilterCriteriaChanged($event)" [isSearching]="isSearching"></app-requests-search>
  </div>

  <div class="history-header d-flex justify-content-between align-items-center mb-3">
    <h3 class="m-0">📋My Past Requests</h3>
    <span class="badge bg-secondary total-count p-2 fs-6">
      Total Requests Found: {{ totalRecords }}
    </span>
  </div>

  <mat-accordion class="request-accordion" multi="true">
    <app-request-history-card
      *ngFor="let requestItem of userRequests" 
      [isLoading]="updatingRequestIds.has(requestItem.id)"
      [req]="requestItem" (statusChanged)="handleStatusUpdate($event)">
    </app-request-history-card>
  </mat-accordion>

  <div class="paginator-wrapper mt-4 d-flex justify-content-center">
    <mat-paginator 
      [length]="totalRecords"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      aria-label="Select history page"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>